<div class="search-container">
    <span class="home" (click)="home()">Home (Popular Shows)</span> / <span>Search Results</span>
    <h1>Search Results</h1>
    <div class="cards" *ngIf="searchResult">
        <div *ngFor="let show of searchResult">
            <div (click)="setShowDetails(show.show.id)" class="result row">
                <div class="col-12 col-sm-5">
                    <img *ngIf="show.show.image" src="{{show.show.image.medium}}" alt="show-image">
                </div>
                <div class="details col-12 col-sm-7">
                    <h1>{{show.show.name}}</h1>
                    <h2>IMDB: {{show.show.rating.average}}/10</h2>
                    <h2>Premiered on: {{show.show.premiered}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="no-results" *ngIf="searchResult && !searchResult.length">
        <span>
            Oops!<br> No Movies found.
        </span>
    </div>
</div>