<div class="search-container">
    <a href="popular">Home (Popular Shows)</a> / <span>Search Results</span>
    <h1>Search Results</h1>
    <div class="cards" *ngIf="searchResult">
        <div *ngFor="let show of searchResult; let i = index">
            <div (click)="setShowDetails(show)" class="result">
                <div>
                    <img *ngIf="show.show.image" src="{{show.show.image.medium}}" alt="">
                </div>
                <div class="details">
                    <h1>{{show.show.name}}</h1>
                    <h2>IMDB: {{show.show.rating.average}}/10</h2>
                    <h2>Premiered on: {{show.show.premiered}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>