.prev-next {
    display: flex;
    justify-content: flex-end;

    .prev {
        margin-right: 10px;
    }

    button:disabled {
        cursor: no-drop;
    }
}

.genres {
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
