<div *ngIf="showDetails" class="details-container row">
    <div class="back-breadcrums col-12">
        <button mat-raised-button (click)="back()">Back</button>
        <span class="home" (click)="home()">Home (Popular Shows)</span> / <span>{{showDetails.name}}</span>
    </div>
    <div class="details row col-12">
        <img class="col-12 col-sm-6" src="{{showDetails.image.original}}" alt="show-image">
        <div class="details-text col-12 col-sm-6">
            <h2>{{showDetails.name}}</h2>
            <p> <span class="title">IMDB Rating: </span>{{showDetails.rating.average}}/10</p>
            <p> <span class="title">Premiered On: </span>{{showDetails.premiered}}</p>
            <p> <span class="title">Type: </span>{{showDetails.type}}</p>
            <p> <span class="title">Genres: </span>{{showDetails.genres}}</p>
            <p> <span class="title">Status: </span>{{showDetails.status}}</p>
            <p> <span class="title">Runtime: </span>{{showDetails.runtime}} minutes</p>
            <p><span [innerHTML]="showDetails.summary"></span></p>
        </div>
    </div>
</div>