<div *ngIf="showDetails" class="details-container">
    <div class="back-breadcrums">
        <button mat-raised-button (click)="back()">Back</button>
        <a href="popular">Home (Popular Shows)</a> / <span>{{showDetails.name}}</span>
    </div>
    <div class="details">
        <img src="{{showDetails.image.original}}" alt="">
        <div class="details-text">
            <h2>{{showDetails.name}}</h2>
            <div> <i>IMDB Rating: </i>{{showDetails.rating.average}}/10</div>
            <div> <i>Premiered On: </i>{{showDetails.premiered}}</div>
            <div> <i>Type: </i>{{showDetails.type}}</div>
            <div> <i>Genres: </i>{{showDetails.genres}}</div>
            <div> <i>Status: </i>{{showDetails.status}}</div>
            <div> <i>Runtine: </i>{{showDetails.runtime}} minutes</div>
            <div><span [innerHTML]="showDetails.summary"></span></div>
        </div>
    </div>
</div>