<app-back></app-back>
<div>
    <a href="popular">Home</a> / Show
</div>
<div class="details">
    <img src="{{showDetails.image.original}}" alt="">
    <div>
        <div>{{showDetails.name}}</div>
        <div><strong>IMDB Rating:</strong>{{showDetails.rating.average}}</div>
        <div><strong>Premiered On:</strong>{{showDetails.premiered}}</div>
        <div><strong>Type: </strong>{{showDetails.type}}</div>
        <div><strong>Genres: </strong>{{showDetails.genres}}</div>
        <div><strong>Status: </strong>{{showDetails.status}}</div>
        <div><strong>Runtine: </strong>{{showDetails.runtime}}</div>
        <div><strong>Summary: </strong>{{showDetails.summary}}</div>
    </div>
</div>