.popular-shows {
    padding: 130px 120px 50px 120px;
    background: #003f05;
    color: white;

    @media screen and (max-width: 600px) {
        padding: 120px 50px 20px 80px;
    }

    &-genre {
        padding-bottom: 40px;
        border-bottom: 1px solid;
    }
}
